.titulologin{
    display: block;
    width: 100%;
    color:#10222e;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
    text-align: center;
}
.formulariologin{
    display: flex;
    width: 60%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    padding:20px 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulariologin input{
    display: flex;
    width: 500px;
    height: 28px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #10222e;
    font-size: 15px;
    margin-bottom: 10px;
}
.formulariologin label{
    font-size:16px;
    color:#10222e;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.checkbox{
    display: inline-block;
    width:5%;
    height: 13px;
}
.labelcheckbox{
    display: inline-block;
    width: 95%;
    height: 10px;
    margin-left: -5px;
}
#confirm{
    width: 15px;
    height: 15px;
    margin: 0;
}

@media (min-width:315px) {
    .formulariologin{
        width: 80%;
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .formulariologin input{
        width: 250px;
        height: 28px;
    }
    .botaologar button{
        display: block;
        width: 50%;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        padding: 12px;
        margin-bottom: 10px;
    }
    .checkbox{
        display: inline-block;
        width:5%;
        height: 13px;
    }
    .labelcheckbox{
        display: inline-block;
        width: 80%;
        height: 10px;
        margin-left: 8px;
    }
}
