h2{
    text-align: center;
}

.formulario{
    margin-top: 40px;
    margin-bottom: 40px;
}


.formulario button{
    background-color: #8AF963;
    border: none;
    font-size: 14px;
    color: #013750;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    display: block;
}

#confirm{
    width: 20px;
    height: 20px;
}


