.tituloformulario {
    display: block;
    width: 100%;
    color:#10222e;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}
.tituloformulario h2{
    font-size: 25px;
    text-align: center;
}

/*DIV PAI*/
.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.formulario form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    background-color: #fafafa;
    padding: 15px 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    margin-bottom: 0;
}
.formulario input:focus, input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

/*DIV DADOS PESSOAIS*/
.dadospessoais{
    flex: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
}
.dadospessoais label{
    font-size: 14px;
    color:#10222e;
    font-weight: 500;
}
.dadospessoais input{
    display: flex;
    width: 350px;
    height: 25px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #10222e;
    font-size: 13px;
}


/*DIV ENDEREÇO*/
.endereco{
    flex: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    align-items: center;
}
.endereco label{
    font-size: 14px;
    color:#10222e;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
.endereco input{
    display: flex;
    width: 350px;
    height: 25px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #10222e;
    font-size: 13px;
}

.botaocriar{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.botaocriar button{
    display: block;
    background-color: #6af039;
    border: none;
    font-size: 18px;
    color: #10222e;
    width: 135px;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.botaocriar button:hover{
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.1);
}
.botaocriar button:active{
    color: #63a54b;
    transition:0.1s;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}   

legend{
    font-size: 18px;
    color:#10222e;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
span{
    display: inline-block;
    color: red;
    font-size: 12px;
}

@media (min-width:300px) {
    .tituloformulario h2{
        font-size: 18px;
        text-align: center;
    }
    .formulario form{
        width: 85%;
    }
    .dadospessoais{
        width: 100%;
        flex-basis: 100%;
    }
    .dadospessoais label{
        font-size: 14px;
    }
    .dadospessoais input{
        display: flex;
        width: 250px;
        height: 25px;
    }
    .endereco{
        flex-basis: 100%;
    }
    .endereco label{
        width: 100%;
        font-size: 14px;
    }
    .endereco input{
        width: 230px;
        height: 25px;
    }
    .botaocriar button{
        font-size: 14px;
        width: 100px;
        height: 40px;
    }
}
@media (min-width:400px) {
    .formulario form{
        width: 85%;
    }
    .dadospessoais input{
        width: 300px;
    }
    .endereco input{
        width: 300px;
    }
}

@media (min-width:600px) {
    .formulario form{
        width: 500px;
    }
    .dadospessoais input{
        width: 450px;
    }
    .endereco input{
        width: 450px;
    }
    .botaocriar button{
        font-size: 14px;
        width: 100px;
        height: 45px;
    }
}
@media (min-width:768px) {
    .formulario form{
        width: 85%;
    }
    .dadospessoais input{
        width: 550px;
    }
    .endereco input{
        width: 550px;
    }
    .botaocriar button{
        font-size: 15px;
        width: 120px;
        height: 40px;
    }
}
@media (min-width:992px) {
    .formulario form {
        display: flex;
        flex-wrap: wrap;
        width: 800px;

    }
    .dadospessoais {
        flex: 1;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
    }
    .dadospessoais input{
        width: 350px;
    }
    .endereco {
        flex: 1;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
    }
    .endereco input{
        width: 350px;
    }
    .botaocriar button{
        font-size: 16px;
        width: 120px;
        height: 45px;
    }
}
@media (min-width:1200px) {
    .formulario form{
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dadospessoais input{
        display: flex;
        width: 300px;
    }
    .endereco input{
        width: 300px;
    }
    .botaocriar button{
        font-size: 16px;
        width: 120px;
        height: 46px;
    }
}