.container1-fase1{
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
    padding: 30px;
    border-radius: 0 10px 10px 0;
    background-color:#FFF5D0;
    color: #10222e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


.texto1-fase1{
    display: inline-block;
    width: 70%;
    height: auto;
}
.texto1-fase1 h1{
    display: block;
    width: auto;
    height: auto;
    font-size: 25px;
    color: #BF712C;
    align-items: right;
    margin: 10px 0 10px 10px;
}

.texto1-fase1 p{
    display: block;
    width: auto;
    height: auto;
    font-size: 15px;
    color: #10222e;
    text-align: left;
    align-items: center;
    margin: 10px 0 10px 100px;
}

.texto1img-fase1{
    display: inline-block;
    width: 30%;
    height: 260px;
    text-align: center;
}
#personapensando{
    display: flex;
    width: 270px;
    height: 300px;
    margin-left: auto;
    margin-top: -10px;
}

/*JORNADA DA COMPANHIA DURANTE O IPO*/
.container2-fase1{
    display: block;
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    background-color:#FFF5D0;
    color: #10222e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.texto2-fase1 h1{
    display: flex;
    width: auto;
    height: auto;
    font-size: 25px;
    color: #BF712C;
    align-items: right;
    justify-content: left;
    margin: 0;
    margin-right: auto;
    margin-bottom: 10px;
}

.texto2-fase1 p{
    display: block;
    width: auto;
    height: auto;
    font-size: 15px;
    color: #10222e;
    margin: 0;
}
#imganalise{
    display: none;
}

@media (max-width: 768px) {
    .container1-fase1{
        display: flex;
        width: 65%;
        height: auto;
        margin: 0 auto 50px auto;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .texto1-fase1{
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    
    }
    .texto1-fase1 h1{
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin: 0 0 10px 0;
    }
    
    .texto1-fase1 p{
        display: flex;
        font-size: 14px;
        text-align: justify;
        margin: 20px 0 0 0;
    }
    
    .texto1img-fase1{
        display: flex;
        width: 100%;
        height: 220px;
    }
    #personapensando{
        display: flex;
        width: 200px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    /*JORNADA DA COMPANHIA DURANTE O IPO*/
    .container2-fase1{
        display: flex;
        width: 65%;
        height: auto;
        margin: 0 auto 0 auto;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .texto2-fase1{
        display: block;
        width: 100%;
        height: auto;
    
    }
    .texto2-fase1 h1{
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin: 0 0 10px 0;
    }
    
    .texto2-fase1 p{
        display: flex;
        font-size: 14px;
        text-align: justify;
        margin: 20px 0 0 0;
    }
    
    .texto2img-fase1{
        display: flex;
        width: 100%;
        height: auto;
        margin:0;
    }
    #imganalise{
        display: flex;
        width: 210px;
        height: 155px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px; 
    }
}
@media (min-width:768px) { 
    .container1-fase1{
        width: 650px;
        height: 320px;
    } 
    .texto1-fase1{
        display: inline-block;
        width: 400px;
        height: 300px;
    }
    .texto1-fase1 h1{
        font-size: 23px;
        margin: 0;
    }
    
    .texto1-fase1 p{
        font-size: 15px;
        margin: 10px 0 10px 0;
    }

    .texto1img-fase1{
        display: flex;
        width: 250px;
        height: 380px;
        align-items:flex-end;
    }
    #personapensando{
        display: flex;
        width: 220px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .container2-fase1{
        width: 650px;
        height: auto;
    }
    .texto2-fase1{
        display: inline-block;
        width: 650px;
        height: auto;
    
    }
    .texto2-fase1 h1{
        display: block;
        width: auto;
        height: auto;
        font-size: 23px;
        color: #BF712C;
        text-align: right;
    }
    
    .texto2-fase1 p{
        display: block;
        width: auto;
        height: auto;
        font-size: 15px;
        color: #10222e;
        text-align: right;
    }
    .texto2img-fase1{
        display: none;
    }
    
}
@media(min-width:900px){
    .container1-fase1{
        width: 700px;
        height: 320px;
    } 
    .texto1-fase1{
        display: inline-block;
        width: 450px;
        height: auto;
        margin-left: 30px;
    }
    
    .container2-fase1{
        width: 700px;
        height: auto;
        /* margin-right: -30px; */
    }
    .texto2-fase1{
        display: inline-block;
        width:680px;
        height: auto;
        margin-right: 0;
    
    }
}
@media (min-width:1024px) { 
    .container1-fase1{
        width: 760px;
        height: 320px;
    } 
    .texto1-fase1{
        display: inline-block;
        width: 400px;
        height: 300px;
        margin-left: 100px;
    }

    .texto1img-fase1{
        display: flex;
        width: 250px;
        height: 380px;
        align-items:flex-end;
    }
    #personapensando{
        display: flex;
        width: 260px;
        height: 290px;
        margin-left: auto;
        margin-right: auto;
    }
    .container2-fase1{
        width: 780px;
        height: auto;
        
    }
}
@media(min-width: 1200px){
    .container1-fase1{
        width: 750px;
        height: 350px;
        margin: 0 auto 50px 120px;
        border-radius: 10px;
    } 
    .texto1-fase1{
        display: inline-block;
        width: 400px;
        height: auto;
        margin-left: 0;
        margin-right: 50px;
    }
    .texto1-fase1 h1{
        font-size: 24px;
        margin: 0;
    }
    
    .texto1-fase1 p{
        font-size: 16px;
        margin: 10px 0 10px 0;
    }

    .texto1img-fase1{
        display: flex;
        width: 300px;
        height: 410px;
        align-items:flex-end;
    }
    #personapensando{
        display: flex;
        width: 260px;
        height: 290px;
        margin-left: auto;
        margin-right: auto;
    }
    .container2-fase1{
        width: 650px;
        height: auto;
        margin-right: 132px;
        border-radius: 10px;
    }
    .texto2-fase1{
        display: inline-block;
        width: 650px;
        height: auto;
    
    }
    .texto2-fase1 h1{
        display: block;
        width: auto;
        height: auto;
        font-size: 24px;
        color: #BF712C;
        text-align: right;
    }
    
    .texto2-fase1 p{
        display: block;
        width: auto;
        height: auto;
        font-size: 16px;
        color: #10222e;
        text-align: right;
    }
}
