.blocos{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #98422F;
    display:block;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin-bottom: 50px;
}


.fase1{
    display: flex;
    width: 48%;
    height: 150px;
    background-color: #FFF5D0;
    margin-top: 30px;
    border-radius: 0 30px 30px 0;
    text-decoration: none;
}
.fase1 h2{
    text-decoration: none;
    width: auto;
    height: auto;
    font-size: 20px;
    margin: auto;
    color: #BF712C;
    text-decoration: none;
}

.fase2{
    display: flex;
    width: 48%;
    height: 150px;
    background-color: #FFF5D0;
    margin-top: 0;
    margin-left: auto;
    margin-top: 0;
    border-radius: 30px 0 0 30px;
}
.fase2 h2{
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    color: #BF712C;
}

.fase3{
    display: flex;
    width: 48%;
    height: 150px;
    background-color: #FFF5D0;
    margin-top: 0;
    border-radius: 0 30px 30px 0;
}
.fase3 h2{
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    color: #BF712C;
}


.fase4{
    display: flex;
    width: 48%;
    height: 150px;
    background-color: #FFF5D0;
    margin-top: 0;
    margin-left: auto;
    margin-top: 0;
    border-radius: 30px 0 0 30px;
}
.fase4 h2{
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    color: #BF712C;
}

.fase5{
    display: flex;
    width: 48%;
    height: 150px;
    background-color: #FFF5D0;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 0 30px 30px 0;
}
.fase5 h2{
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    color: #BF712C;
} 

@media (min-width:315px) {
    .blocos{
        width: 90%;
        background-color: #10222e;
        border-radius: 30px;
    }
    .fase1{
        display: flex;
        width: 80%;
        height: 130px;
        margin-bottom: 30px;
    }
    .fase1 h2{
        width: auto;
        height: auto;
        font-size: 18px;
        text-align: left;
    }
    .fase2{
        display: flex;
        width: 80%;
        height: 130px;
        margin-bottom: 30px;
    }
    .fase2 h2{
        width: auto;
        height: auto;
        font-size: 18px;
        text-align: right;
    }
    .fase3{
        display: flex;
        width: 80%;
        height: 130px;
        margin-bottom: 30px;
    }
    .fase3 h2{
        width: auto;
        height: auto;
        font-size: 18px;
        text-align: left;
    }
    .fase4{
        display: flex;
        width: 80%;
        height: 130px;
        margin-bottom: 30px;
    }
    .fase4 h2{
        width: auto;
        height: auto;
        font-size: 18px;
        text-align: right;
    }
    .fase5{
        display: flex;
        width: 80%;
        height: 130px;
        margin-bottom: 30px;
    }
    .fase5 h2{
        width: auto;
        height: auto;
        font-size: 18px;
        text-align: left;
    }
}