.titulotime{
    display: block;
    width: 100%;
    color:#10222e;
    font-weight: bold;
    margin-top: 0;
}
.titulotime h2{
    font-size: 25px;
    text-align: center;
}

.time{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    margin-top: 0 !important;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

a{
    text-decoration: none;
    color: #10222e;
}

.dev{
    display: fixed;
    width: 180px;
    justify-content: center;
}
#dev{
    display: flex;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}
h4{
    text-align: center;
    margin: 0;
}
h5{
    text-align: center;
    margin: 0;
}


@media (max-width:400px) {
    .titulotime h2{
        font-size: 18px;
        text-align: center;
        font-weight: 700;
    }
    .time{
        width: 85%;
        margin: 30px auto;
        padding: 15px;
        margin-bottom: 50px;
    }
    .dev{
        width: 125px;
    }
    h4{
        font-size: 12px;
        font-weight: 500;
    }
    h5{
        font-size: 7px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    #dev{
        display: flex;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border-radius: 50%;
    }
}
@media (min-width:400px) {
    .titulotime h2{
        font-size: 20px;
        text-align: center;
    }
    .time{
        width: 70%;
        margin: 30px auto;
        padding: 30px;
        margin-bottom: 50px;
    }
    
    .dev{
        width: 140px;
    }
    h4{
        font-size: 13px;
    }
    h5{
        font-size: 9px;
        margin-bottom: 10px;
    }
}
@media (min-width:600px) {
    .titulotime h2{
        font-size: 20px;
        text-align: center;
    }
    .time{
        width: 80%;
        margin: 30px auto;
        padding: 30px;
        margin-bottom: 50px;
    }
    
    .dev{
        width: 120px;
    }
    h4{
        font-size: 13px;
    }
    h5{
        font-size: 9px;
        margin-bottom: 10px;
    }
}
@media (min-width:768px) {
    .titulotime h2{
        font-size: 23px;
        text-align: center;
    }
    .time{
        width: 80%;
        margin: 30px auto;
        padding: 30px;
        margin-bottom: 50px;
    }
    #dev{
        width: 115px;
        height: 115px;
    }
    
    .dev{
        width: 140px;
    }
    h4{
        font-size: 15px;
    }
    h5{
        font-size: 11px;
        margin-bottom: 10px;
    }
}
@media (min-width:900px) {
    .titulotime h2{
        font-size: 22px;
        text-align: center;
    }
    .time{
        width: 650px;
        margin: 30px auto;
        padding: 30px;
        margin-bottom: 50px;
    }
    #dev{
        width: 115px;
        height: 115px;
    }
    .dev{
        width: 150px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 10px;
        margin-bottom: 10px;
    }
}