header {
  display: flex;
  background: #10222e;
  width: 100%;
  height: 100px;
  align-items: center;
} 

#logo {
  width: 270px;
  height: 95px;
  margin-left: 30px;
} 

/* MENU NORMAL */
.menu {
  list-style: none;
  padding: 50px;
  margin-left: auto;
  text-decoration: none;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: #EBE7D9;
}

.menu li a {
  text-decoration: none;
  color: #EBE7D9;
}

.menu li:first-child {
  margin-left: 0;
}
/* MENU SANDUICHE ATIVA NO MAX 600PX */
.hamburger-menu {
  display: none;
  margin-left: auto;
  padding: 50px;
  color: #10222e;
}

@media (max-width: 600px) {
  #logo {
    width: 155px;
    height: 55px;
    margin-left: 15px;
    margin-top: 5px;
  } 

  .menu {
    display: none;
    padding: 10px;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    padding: 25px;
  }

  .hamburger-menu span {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 4px;
    background-color: #FFF5D0;
    margin-top: 6px;
  }
  .hamburger-menu span:last-child {
    margin-bottom: 0;
  }

  .menu.show {
    display: block !important;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #10222e;
    padding: 20px;
    border-radius: 0 0 0 10px;
    list-style: none;
    margin: 0;
    text-align: right;
  }

  .menu.show li {
    display: block;
    margin-bottom: 10px;
  }

  .menu.show li a {
    color: #EBE7D9;
    font-size: 18px;
    text-decoration: none;
    font-size: 13px;
  }
}

@media (min-width: 600px) {
  #logo {
    width: 200px;
    height: 70px;
    margin-left: 30px;
    margin-top: 5px;
  } 
}
@media (min-width: 768px) {
  #logo {
    width: 220px;
    height: 75px;
    margin-left: 50px;
    margin-top: 5px;
  } 
}
@media (min-width: 1000px) {
  #logo {
    width: 230px;
    height: 80px;
    margin-left: 120px;
    margin-top: 5px;
  } 
  .menu {
    margin-right: 80px;;
  }
}
