.tituloparceiros{
    display: block;
    width: 100%;
    color:#10222e;
    font-weight: bold;
    margin-top: 50px;
}
.tituloparceiros h2{
    font-size: 25px;
    text-align: center;
}

.parceiros{
    display: flex;
    width: 70%;
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 80px auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.containerfiap, .containerb3{
    display: flex;
    position: relative;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
#fiap, #b3{
    width: 200px;
    height: auto;
    margin: 0;
}

@media(max-width: 600px) {

    .tituloparceiros h2{
        font-size: 20px;
        text-align: center;
    }
    
    .parceiros{
        display: flex;
        width: 280px;
        height: 190px;
        flex-direction: column;
        align-items: center;

    }
    
    .containerfiap, .containerb3{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 20px 5px;
    }
    #fiap, #b3{
        width: 170px;
        height: auto;
        margin: 0;
    }
}